@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Dosis:wght@200..800&family=Triodion&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Croissant+One&family=Darumadrop+One&family=Genos:wght@500&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=LXGW+Marker+Gothic&family=Namdhinggo:wght@400;500&family=Taviraj:wght@400;500&display=swap');

/*sass variables*/
$header-txt: 'Darumadrop One';
$body-txt: 'Dosis'; 
$accent-txt:'LXGW Marker Gothic';
$body-col: #37353E;
$body-bg: #F2F2F2;
$teal:#538392;
$muddy:#706D54;
$tawny: #C9B194;

h1{
    font-family: $header-txt;
}

h2, h3, h5, .subtitle{
    font-family: $accent-txt;
}

body{
    font-family: $body-txt, sans-serif;
    font-size: 18px;
    color: $body-col;
    background: $body-bg;
    text-align: justify;
}

#content{
    display: grid;
    grid-template-areas: 
        "sidebar"
        "main"
        "footer";
}

#aside{
    background: $tawny;
    color:$body-col;
    max-width:100%;
    grid-area: sidebar;
    padding:1rem;

    li.nav-item{
        font-size:2rem;
        //margin-bottom:0.5rem;
        list-style: none;
        background-color: $tawny;

        a.nav-link{
            text-decoration: none;
            transition: color 0.3s ease;
            font-family: $accent-txt, serif;
            color:$body-col;

            &:hover{
                color:$teal;
            }

            &:focus, &:active{
                background-color: transparent!important;
            }
        }
    }
}

#main{
    grid-area: main;

    .header-block{
        .carousel-banner{
            height:200px;
        }

        .row{
            background-color: $body-bg;
            margin-top: -3.5rem;
            align-items: end;

            .title{
                font-family: $header-txt, serif;
                display: inline-block;
                background-color: $body-bg;
                padding: 0 1rem;
                font-size: 3.5rem;
            }
        }
    }

    p.bio{
        padding:1.5rem 0;
    }
}

#links{
    display: flex;
    column-gap: .5rem;

    i.ic{
        font-size:1.5rem;
        transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        &:hover{
            transform: rotate(360deg);
        }
    }
}

.muted{
    color:$muddy;
}

.clip-title{
    margin-top: -3rem;
    background-color: $body-bg;
    padding: 0.5rem
}

a{
    color:$teal;
    text-decoration: none;
    transition: all 0.3s;

    &:hover{
        color:$muddy;
        text-decoration: underline;
    }

    &:visited{
        color:$muddy;
    }

    &:focus{
        color:$body-col;
        background-color: transparentize($teal, .5);
    }

}

hr{
    border-top-width:6px;
}

.project-list{
    list-style: none;
    margin-bottom: 0.5rem;
    > a{
        font-size: 1.3rem;
        font-family: $accent-txt, serif;
    }

    > p{
        margin:0 auto;
    }
}

.project-box{
    margin-bottom:2rem;
    .col{
        padding:1rem
    }
}

.project-card{
    border:1px solid;
    box-shadow: -1rem 0.5rem $tawny;
    transition: 0.3s box-shadow ease-in-out;

    &:hover{
        box-shadow: -1.5rem 1rem $tawny;
    }

    .project-cover-img{
        min-height:250px;
    }
}

.peek-container{
    margin-bottom:2.5rem;
    border:1px solid;

    >*{
        margin:0 auto;
    }

    .peek-title{
        margin-top:-20px;
        a{
            background-color: $body-bg;
            padding:0px 10px;
            margin:0px 10px;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .peek-details{
        padding:1rem;
    }

    .peek-date, .peek-continue{
        font-size:0.85rem;
        margin: 5px 0px;
    }
}

@media screen and (min-width:992px) {
    #content{
        min-height: 100vh;
        grid-template-areas:
            "sidebar main  " 
            "footer  footer";
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr auto;
    }

    body{
        padding:50px 200px;
    }

    #aside{
        position: sticky;
        top: 2rem;
        text-align: right;
        max-height:calc(100vh - 4rem);

        &::after{
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            border:1px solid;
            left:-2rem;
            top:-1rem;
            z-index: -1;
        }
    }

    #main{
        padding:30px 60px;

        .boxed{
            border: 1px solid;
            position: relative;
            box-shadow: 2rem 1rem #c9b194;
        }
    }
}

#footer{
    padding:0.5rem;
    font-size:0.8rem;
    text-align: center;
    grid-area: footer;

    a{
        color:inherit;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover{
            text-decoration: underline;
            color:$teal;
        }
    }
}

// tooltips
#s-m-t-tooltip{
	/* basic */
	max-width:300px;
	z-index:10;
	margin:24px 14px 7px 12px;
	/* style and design */
	padding:2px;
	background:$body-bg; /* fallback if rgba not supported */
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:1px solid rgba(0, 0, 0, 0.25);
	/* font */
	font-family:$body-txt, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#706D54;
}