{% extends "base.html" %}

{% block content %}
<div class="title">
  <h1>{{ section.title }}</h1>
</div>

<p>{{ section.description }}</p>
<hr class="mb-5">

{% for page in section.pages %}
  <div class="peek-container">
    <h3 class="peek-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
    <div class="peek-details">
        <p class="peek-date">{{ page.date | date(format="%b %e, %Y") }}</p>
        <p class="peek-summary font-italic">{{ page.summary | safe}}</p>
    </div>
  </div>
{% endfor %}
{% endblock content %}