{% extends "base.html" %}

{% block content %}
<div class="title">
  <h1>{{ section.title }}</h1>
</div>

<p>{{ section.description }}</p>

<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>

{% for page in section.pages %}
  <div class="peek-container">
    <h3 class="peek-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
    <p class="peek-date">{{ page.date }}</p>
    <p class="peek-summary">{{ page.summary }}</p>
    <a class="peek-continue" href="{{ page.permalink }}#continue-reading">Continue Reading</a>
  </div>
{% endfor %}
{% endblock content %}