{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1>
      Nao Belgrave
    </h1>
</div>

<p>hi! i'm nao, a current 2nd year game design and development student at RIT. i'd like to pursue a career in game development or full-stack web development in the future. in my free time, i like to scroll through steam without playing anything and watch internet horror.</p>

<p><a href="{{ get_url(path='@/blog/_index.md') }}">Posts</a></p>
<a href="{{ get_url(path='@/projects/_index.md') }}">Projects</a>
{% endblock content %}