{% extends "base.html" %}

{% block content %}
<div class="title">
    <h1>
      Naomi Belgrave
    </h1>
</div>

<h2 class="muted" style="font-style: italic; font-size:1.3rem; font-family:'Triodion', serif">Hi! I'm Naomi, a current 2nd year Game Design and Development student at RIT.</h2>

<p>
  Since I was young, I've always loved creating: be it drawing, writing, or making music. In high school, I began coding my own websites and templates in HTML/CSS, kickstarting my interest in creating using web and programming technologies, which was furthered by AP coursework in Python and JavaScript.
<br>
<br>
  At Rochester Institute of Technology, I'm working to finetune my knowledge and experience for designing, coding, writing, and illustrating for interactive media.
</p>

<div id="links">
  Find me elsewhere!
  <p>
      <a href="https://github.com/sacanthias/">github</a> | 
      <a href="https://sacanthias.itch.io/">itch.io</a> | 
      <a href="https://www.linkedin.com/in/naomi-o-belgrave/">linkedin</a> | 
      <a href="mailto:nob6010@g.rit.edu">email</a> |
      <a href="/portfolio/RESUME_FALL2025.pdf">resume</a>
  </p>
</div>
{% endblock content %}