{% extends "base.html" %}

{% block content %}
<div class="header-block">

  <div class="row no-gutters">
    <div class="col-4">
      <img class="w-100" id="profile-img" src="{{ get_url(path="images\me.jpg", cachebust=true) | safe }}">
    </div>
    
    <div class="col-8 pl-2">
        <h1 class="title">
           Naomi Belgrave
        </h1>

        <div class="justify-content-start d-flex" id="links">
          <p>Find me elsewhere!</p>
          <a href="https://github.com/sacanthias/"><i class="fab fa-github fa-xl ic" title="View GitHub"></i></a> | 
          <a href="https://sacanthias.itch.io/"><i class="fab fa-itch-io fa-xl ic" title="View Itch.io"></i></a> | 
          <a href="https://www.linkedin.com/in/naomi-o-belgrave/"><i class="fab fa-linkedin fa-xl ic" title="View LinkedIn"></i></a> | 
          <a href="mailto:omibel7@gmail.com"><i class="fas fa-envelope fa-xl ic" title="Email"></i></a> |
          <a href="{{ get_url(path="files\BELGRAVE_NAOMI_Resume_2026.pdf", cachebust=true) | safe }}"><i class="fas fa-newspaper fa-xl ic" title="View Resume"></i></a>
        </div>
      </div>
  </div>

  <hr>
</div>

<h3 class="muted subtitle text-italic">Hi! I'm Naomi, a creative focusing on design and development for games and other interactive media.</h3>

<p class="bio">
  I'm currently studying as a rising junior in the Game Design and Development program at RIT.
  <br>
  <br>

  Since I was young, I've always loved creating: be it drawing, writing, or making music. In high school, I began coding my own websites and templates in HTML/CSS, kickstarting my interest in creating with web and programming technologies. I became a freelance 
<br>
<br>
  At Rochester Institute of Technology, I'm working to finetune my knowledge and experience for designing, coding, writing, and illustrating for interactive media.
</p>
{% endblock content %}